<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Contacts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D36E2B61BFDF8B2008D4469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D36E2D21BFDF8B2008D4469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D36E2DD1BFDF8B2008D4469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
